<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @socio.nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @socio.cpf %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @socio.dataNascimento %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @socio.administrador %>
</p>

<%= link_to 'Editar', edit_socio_path(@socio) %> |


<br/>
<%= render "imovels/index" %>
<%= link_to 'Inserir Novo Imóvel', new_imovel_path(empresa_id: @empresa, socio_id: @socio), class: 'btn btn-default' %>
<%= render "veiculos/index" %>
<%= link_to 'Inserir Novo Veículo', new_veiculo_path(empresa_id: @empresa, socio_id: @socio), class: 'btn btn-default' %>
<br/>


<%= link_to 'Voltar', :empresa %>
