<%= simple_form_for(@veiculo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :marca %>
    <%= f.input :modelo %>
    <%= f.input :ano %>
    <%= f.input :placa %>
    <%= f.input :cidade %>
    <%= f.input :uf, label:'UF' %>
    <%= f.input :cri, label:'CRI' %>
    <%= f.input :observacoes, label:'Observações' %>
  </div>

  <%= f.hidden_field :empresa_id, value: @veiculo.empresa.id %>

  <div class="form-actions">
  <%= f.button :submit, 'Salvar' %>
  </div>
<% end %>
