<%= simple_form_for(@imovel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :logradouro %>
    <%= f.input :cep, label:'CEP' %>
    <%= f.input :bairro %>
    <%= f.input :cidade %>
    <%= f.input :uf, label:'UF' %>
    <%= f.input :matricula, label:'Matrícula' %>
    <%= f.input :cri, label:'CRI' %>
    <%= f.input :observacoes, label:'Observações' %>

  </div>
<%= f.hidden_field :empresa_id, value: @imovel.empresa.id %>

  <div class="form-actions">
  <%= f.button :submit, 'Salvar' %>
  </div>
<% end %>
